.el-select-dropdown.el-popper{
    z-index:99999999999 !important;
}
.el-popover.el-popper{
    background: #95d095;

}
.fuzhuhesuan-form-item label{
    text-align: justify !important;
    text-align-last: justify !important;
    margin-bottom: 10px !important;
}
